<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layout">
<head>
 	<title>Tico Shoes | Inicio </title>
</head>
<body>

  <!-- page content -->
  <div class="right_col" role="main" layout:fragment="main-content">
  
         <div class="row">
  
              <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100"> 
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Adidas NMD Boost</a>
                  </h4>
                  <a class="card-text">
                  	<img class="myImg d-block img-fluid" src="../static/imgs/nmdboost.jpg" th:src="@{/imgs/nmdboost.jpg}" alt="Adidas NMB boost"/>
                  </a>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                  <p>Antes:</p>
                  <h5><del style="color:red;">&#8353;58.000</del></h5>
                  <p>Ahora:</p>
                  <h5>&#8353;53.000</h5>
                  <button type="button" class="btn btn-success">Solicitar Pedido</button>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100"> 
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Jordan JD7</a>
                  </h4>
                  <a class="card-text">
                  	<img class="myImg d-block img-fluid" src="../static/imgs/jd7.jpg" th:src="@{/imgs/jd7.jpg}" alt="Jordan JD7"/>
                  </a>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                  <p>Antes:</p>
                  <h5><del style="color:red;">&#8353;80.000</del></h5>
                  <p>Ahora:</p>
                  <h5>&#8353;68.000</h5>
                  <button type="button" class="btn btn-success">Solicitar Pedido</button>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100"> 
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Nike Mercurial</a>
                  </h4>
                  <a class="card-text">
                  	<img class="myImg d-block img-fluid" src="../static/imgs/mercurial.jpg" th:src="@{/imgs/mercurial.jpg}" alt="Nike Mercurial"/>
                  </a>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                  <p>Antes:</p>
                  <h5><del style="color:red;">&#8353;82.500</del></h5>
                  <p>Ahora:</p>
                  <h5>&#8353;68.000</h5>
                  <button type="button" class="btn btn-success">Solicitar Pedido</button>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100"> 
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Adidas Pure Control</a>
                  </h4>
                  <a class="card-text">
                  	<img class="myImg d-block img-fluid" src="../static/imgs/purecontrol.jpg" th:src="@{/imgs/purecontrol.jpg}" alt="Pure Control"/>
                  </a>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                  <p>Antes:</p>
                  <h5><del style="color:red;">&#8353;82.500</del></h5>
                  <p>Ahora:</p>
                  <h5>&#8353;70.000</h5>
                  <button type="button" class="btn btn-success">Solicitar Pedido</button>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100"> 
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Adidas Gazelle</a>
                  </h4>
                  <a class="card-text">
                  	<img class="myImg d-block img-fluid" src="../static/imgs/gazelle.jpg" th:src="@{/imgs/gazelle.jpg}" alt="Gazelle"/>
                  </a>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                  <p>Antes:</p>
                  <h5><del style="color:red;">&#8353;68.000</del></h5>
                  <p>Ahora:</p>
                  <h5>&#8353;58.000</h5>
                  <button type="button" class="btn btn-success">Solicitar Pedido</button>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100"> 
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Puma Basket</a>
                  </h4>
                  <a class="card-text">
                  	<img class="myImg d-block img-fluid" src="../static/imgs/pumabasket.jpg" th:src="@{/imgs/pumabasket.jpg}" alt="Puma Basket"/>
                  </a>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                  <p>Antes:</p>
                  <h5><del style="color:red;">&#8353;70.500</del></h5>
                  <p>Ahora:</p>
                  <h5>&#8353;58.000</h5>
                  <button type="button" class="btn btn-success">Solicitar Pedido</button>
                </div>
              </div>
            </div>

        </div>
    
   </div>
   <!-- /row -->

      
</body>
</html>